.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c3610;
}
.navbar-logo h3{
    color:#f2f2f2;
}
.login-button {
    --button-bg-color: #1DB954;
    --button-text-color:#f5f5f5;
}
.logout-button {
    --button-bg-color: #D0342C;
    --button-text-color:#f5f5f5;
}