.Track {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#d9dadc;
    margin-top: 2rem;
}
.track-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: nowrap;
    overflow-x: scroll; */
}
.no-tracks {
    margin: auto;
}

.search-form {
    margin-bottom: 1rem;
}
.search-input {
    margin-right: 0.5rem;
}
.search-button {
    background-color: #53d48d;
}
.search-button:hover {
    background-color: #86e0ae;
}
.title {
    margin-bottom: 1rem;
}
.track-item {
    display: flex;
    width: 25%;
    /* min-width: 25%; */
    justify-content: center;
    margin: 1rem 0;
}
.album {
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.2);
    width: 80%;
    padding: 1rem 0.5rem;
    position: relative;
}
.album-image {
    width: 80%;
    margin: auto;
}
.album-image img {
    border-radius: 1rem;
}

.album-info {
    padding: 1rem;
}
.album-info h2 {
    margin-bottom: 0.5rem;
    font-size: 1.375rem;
    color: #f3f3f5;
}
.album-info h4 {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 300;
}
.album-info button {
    background-color: #664d33;
    font-size: 1rem;
    color: #d9dadc;
    width: 80%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.album-info button:hover {
    background-color: #775a3c;
    color: #cacbce;
}

@media (max-width:768px) {
    .title {
        font-size: 2.5rem;
    }
    .track-item {
        width: 50%;
    }
}

@media (max-width:480px) {
    .title {
        font-size: 2rem;
    }
    .track-item {
        width: 100%;
    }
}