.Track {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.title {
    font-size: 3rem;
}
.album {
    border-radius: 2rem;
    padding: 2rem;
    width: 25%;
    margin: 1rem auto;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.album-image {
    width: 80%;
    margin: auto;
}

.album-image img{
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
}
.album-info {
    font-size: 1.25rem;
}
.album-info h1{
    color:rgb(25, 25, 25);
}
.album-info h4 {
    color: rgb(50, 50, 50);
}

.btn {
    padding: 1vw 5vw;
    border: 0;
    outline: none;
    color:rgb(0, 0, 0);
    border-radius: 0.75vw;
    font-size: 1.25vw;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 1vw rgb(150, 150, 150);
    cursor: pointer;
}
.btn:active {
    box-shadow: 0 0.5vw rgb(100, 100, 100);
    transform: translateY(0.5vw);
    color: #000;
}