* {
    margin: 0;
    padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
    text-decoration: none;
    color: black;
}
button, .btn {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #cccccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
button:hover, .btn:hover {
    background-color: #d9d9d9;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
input {
    padding: 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    outline: none;
}